header,
section {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    font-family: 'PT Sans';
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
h2 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	color: #3c3c3c;
	margin: 0 30%;
	position: relative;
	padding: 50px 0;
}
h2:after {
	display: inline-block;
	content: '';
	width: 120px;
	height: 1px;
	border-bottom: 1px solid #ac9591;
	bottom: 30px;
	left: 50%;
	margin-left: -60px;
	position: absolute;
}
h2 span {
	font-weight: 700;
}
header {
	background: url(../img/bg.png), #f1f1e5;
	position: fixed;
	z-index: 3;
	height: 62px;
}
.shadow {
	height: 62px;
	-webkit-box-shadow: 0px -3px 0px 0px rgba(172, 155, 145, .4) inset;
	-moz-box-shadow: 0px -3px 0px 0px rgba(172, 155, 145, .4) inset;
	box-shadow: 0px -3px 0px 0px rgba(172, 155, 145, .4) inset;
}
.logo, 
.nav-top, 
.phone {
	display: inline-block;
}
.logo, .phone {
	width: 200px;
}
.logo {
	font-size: 30px;
	color: #3c3c3c;
	padding: 15px 0 15px 50px;
	background: url(../img/logo.png) no-repeat left center;
}
.logo span {
	font-weight: 700;
}
nav {
	width: 710px;
	text-align: center;
}
nav a {
	padding: 0 13px 16px 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #504f4d;
	font-size: 18px;
	opacity: .5;
}
nav a:first-child {
	padding: 22px 22px 16px;
	background: url(../img/home.png) no-repeat center center;
}
nav a:hover {
	-webkit-box-shadow: 0px -3px 0px 0px #ac9b91 inset;
	-moz-box-shadow: 0px -3px 0px 0px #ac9b91 inset;
	box-shadow: 0px -3px 0px 0px #ac9b91 inset;
}
.phone {
	font-weight: 700;
	font-size: 20px;
	color: #5d8d3c;
	text-align: right;
	background: url(../img/phone.png) no-repeat left center;
	padding: 10px 0;
	text-align: right;
}
.banner {
	background: url(../img/banner.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: bottom;
	min-height: 700px;
	position: relative;
}
.nav-round {
	padding: 35px 0 45px;
	text-align: center;
	background: url(../img/bg.png), #f6f6ea;
}
.round-item-wrap {
	display: inline-block;
	height: 270px;
	width: 270px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	text-align: left;
	margin: 0 12px;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0);
-moz-box-shadow:    0px 0px 5px 3px rgba(255, 255, 255, 0);
box-shadow:         0px 0px 5px 3px rgba(255, 255, 255, 0);
}
.round-item-wrap:hover {
	-webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 1);
-moz-box-shadow:    0px 0px 5px 3px rgba(255, 255, 255, 1);
box-shadow:         0px 0px 5px 3px rgba(255, 255, 255, 1);
}
.round-item-wrap:hover:after {
	content: '';
	position: absolute;
	background: rgba(151,151,130,.8);
	width: 100%;
	height: 100%;
}
.round-item-wrap:first-child{
	margin-left: 0;
	background:url(../img/aroma.jpg) no-repeat center top;
}
.round-item-wrap:nth-child(2){
	background:url(../img/stone.jpg) no-repeat center top;
}
.round-item-wrap:nth-child(3){
	background:url(../img/face.jpg) no-repeat center top;
}
.round-item-wrap:nth-child(4){
	margin-right: 0;
	background:url(../img/bath.jpg) no-repeat center top;
}
.round-item-wrap .round-item {
	display: inline-block;
	width: 100%;
	background: rgba(0,0,0,.4);
	position: absolute;
	top: 40%;
	padding: 10% 0;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 2;
}
.round-item-wrap .round-item:hover:after {
	content: '';	
	top: 0;
	background: red;
	height: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.advantages {
	padding-bottom: 70px;
	background: url(../img/bg.png), #fbfcf6;
}
.advantages p {
	color: rgba(0,0,0,.5);
	margin: 0 15%;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
}
.services {
	background: url(../img/bg.png), #f6f6ea;
	padding-bottom: 40px;
}
.nav-middle {
	display: inline-block;
	width: 100%;
}
.nav-middle.stickly {
	position: fixed;
	top: 62px;
	left: 0;
	z-index: 4;
}
.nav-middle-item {
	display: inline-block;
	float: left;
	width: 25%;
	text-align: center;
	padding: 15px 0;
	font-size: 18px;
	text-transform: uppercase;
	background: #e7e7d7;
}
.nav-middle-item:after {
	content: "\25C6";
	color: #fff;
	float: right;
}
.nav-middle-item:last-child:after {
	content: none;
}
.nav-middle-item a {
	text-decoration: none;
	color: #fff;	
}
.nav-middle.stickly + .service-item {
	margin-top: 83px;
}
.service-item {
	background: #fbfcf6;
	margin-top: 40px;
	overflow: hidden;
	padding: 50px 15px 30px 15px;
}
.service-item .left {
	width: 30%;
	text-align: center;
}
.service-item:nth-child(odd) .left {	
	float: left;
}
.service-item:nth-child(even) .left {
	float: right;
}
.left {
	position: relative;
}
.left img {
	width: 235px;
	border-radius: 50%;
	border: 3px solid #fbfcf6;
	margin-bottom: -118px;
}
.card {
	background: url(../img/bg.png), #f6f6ea;
	padding-top: 125px;
}
.card a {
	display: inline-block;
	width: 100%;
	padding: 20px 0;
	background: #e5d3b8;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	box-shadow: 0px -3px 0px 0px rgba(65, 44, 10, 0.2) inset;
}
.card a:hover{
	background: #e5d3b8, rgba(65, 44, 10, 0.2) ;
	box-shadow: none;
}
.card h3 {
	font-size: 24px;
	color: #464646;
	margin-bottom: 20px;
}
.card .time,
.card .price {
	font-size: 14px;
	color: #464646;
	margin: 0 7px 20px 7px;
	display: inline-block;
	padding: 4px 0 3px 28px;
}
.card .price {
	background: url(../img/price.png) no-repeat left center;
}
.card .time {
	background: url(../img/clock.png) no-repeat left center;
}
.card .price span {
	font-weight: 700;
}
.card p {
	font-size: 14px;
	color: #ac9b91;
	margin: 0 2% 40px 2%;
}
.service-item .right {
	width: 67%;
	float: left;	
}
.service-item:nth-child(odd) .right {
	margin-left: 3%;
}
.service-item:nth-child(even) .right {
	margin-right: 3%;
}
.nav-select {
	display: inline-block;
	width: 100%;
}
.nav-select-item {
	display: inline-block;
	width: 25%;
	border-bottom: 3px solid rgba(172, 155, 145,0.5);
	float: left;
	cursor: pointer;
	font-size: 18px;
	text-transform: uppercase;
	color: #504f4d;
	text-align: center;
}
.nav-select-item:hover{
	border-bottom: 3px solid #ac9b91;
}
.nav-select-item.active{
	border-bottom: 3px solid #ac9b91;
	position: relative;
}
.nav-select-item.active::after{
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ac9b91;
	position: absolute;
	bottom: -5px;
	bottom: -8px;
	left: 50%;
}
.right p {
	font-size: 13px;
	line-height: 1.86;
	color: #ac9b91;
	margin: 40px 0;
}
.right h4 {
	font-size: 24px;
	color: #504f4d;
	margin-bottom: 20px;
}
.description-item {
	font-size: 13px;
	line-height: 1.86;
	color: #ac9b91;
	list-style: url(../img/list-item.png);
	margin: 0 0 8px 20px;
}
.offer {
	display: inline-block;
	padding-bottom: 80px;
	background: url(../img/bg.png), #fbfcf6;
}
.offer-item {
	display: inline-block;
	float: left;
	width: 46%;
	padding: 1%;
	border: 1px dashed #ebebeb;
	background: #fbfcf6;
}
.offer-item:nth-child(odd){
	margin-right: 1%;
}
.offer-item:nth-child(even){
	margin-left: 1%;
}
.offer-item img {
	width: 100%;
}
.offer-item h3 {
	padding: 15px 0 5px 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	color: #464646;
}
.offer p {
	margin: 0 15% 50px 15%;
	text-align: center;
	color: rgba(0,0,0,.5);
	font-size: 14px;
	line-height: 1.71;
}
.flex-viewport {
	width: 1000px;
	margin: 0 auto;	
}
.flexslider {
	position: relative;
}
.flex-control-nav {
	display: none;
}
.flex-direction-nav a {
	width: 30px;
	height: 30px;
	margin: -20px 0 0;
	display: block;
	position: absolute;
	top: 40%;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-transition: all .3s ease;
	opacity: .5;
	border-radius: 50%;
	outline: 0;
}
.flex-direction-nav a:hover{
	opacity: 1;
}
.flex-next {
	background: url(../img/nav-r.png) no-repeat center;
	right: 10px;
}
.flex-prev {	
	background: url(../img/nav-l.png) no-repeat center;
	left: 10px;
}
.ch-item {
    width: 100%;
    height: 360px;
    overflow: hidden;
    position: relative;
    cursor: default;
    transition: all 0.4s ease-in-out;
}
.ch-img-1 {
	background: url(../img/offer.jpg);
}
.ch-info {
    position: absolute;
    background: rgba(0,0,0, 0.5);
    width: inherit;
    height: inherit;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    cursor: pointer;
}
.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
        0 0 1px #fff,
        0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
    color: #e5d3b8;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid #e5d3b8;
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}
.ch-info p:first-child{
	border-top: none;
	margin-top: 10px;
}
.ch-item:hover {
    box-shadow:
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
    padding: 0;
}
.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}
.ch-item:hover .ch-info p {
	opacity: 1;
}
.reviews {
	padding: 0 0 40px;
	background: url(../img/bg.png), #f6f6ea;
}
.review-item-wrapper {
	margin: 0 10px;
	background: #fbfcf6;
	text-align: center;
	margin-top: 120px;
	padding: 0 25px 40px;
}
.review-item-wrapper img {
	border-radius: 50%;
	border: 3px solid #fbfcf6;
	margin-top: -118px;
}
.review-item-wrapper h3 {
	font-size: 18px;
	text-transform: uppercase;
	color: #504f4d;
	margin: 15px 0 20px;
}
.review-item-wrapper p {
	font-size: 13px;
	color: #ac9b91;
	line-height: 1.9;
	font-style: italic;
}
.contacts {
	background: url(../img/bg.png), #fbfcf6;
}
.address,
.contacts .phone,
.email,
.button {
	width: 20%;
	float: left;
	padding-left: 5%;
	text-align: left;
}
.address {
	background: url(../img/map.png) no-repeat left center;
}
.contacts .phone{
	background: url(../img/phone-contact.png) no-repeat left center;
}
.email {
	padding: 12px 0 12px 5%;
	background: url(../img/email.png) no-repeat left center;
}
map {
	-webkit-box-shadow: 0px -3px 0px 0px rgba(172, 155, 145, .4) inset;
	-moz-box-shadow: 0px -3px 0px 0px rgba(172, 155, 145, .4) inset;
	box-shadow: 0px -3px 0px 0px rgba(172, 155, 145, .4) inset,
				0px 3px 0px 0px rgba(172, 155, 145, .4) inset,
				0px -3px 0px 0px rgba(172, 155, 145, .4),
				0px 3px 0px 0px rgba(172, 155, 145, .4);
	display: inline-block;
	width: 100%;
	margin-top: 40px;
}
footer {
	background: url(../img/bg.png), #fbfcf6;
	text-align: center;
	font-size: 13px;
	color: #ac9b91;
	padding: 10px 0;
}